.basis {
	display: block;
    margin: auto;
    width: 980px;
    font-family: Arial;
    background: url(https://mir-cdn.behance.net/v1/rendition/project_modules/1400/ee8ee352983693.5924103f5cd8b.jpg)
}

.logo {
    width: 215px;
    Left: 20px;
    padding: 20px 0 0;
    margin-bottom: -15px;
}

.logo-text {
    display: inline-block;
    padding: 0 10px 20px;
    font-size: 65px;
    font-family: Broadway, sans-serif;
    margin-bottom: 15px;
    text-shadow: white 1px 1px 0, white 2px 2px 0,
                 black 3px 3px 0, black 4px 4px 0,
                 white 5px 5px 0;
}

.content {
    position: relative;
    height: 200px;
}

.menu {
	display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item {
    display: inline;
    list-style: none;
    padding: 0 15px 0;
    font-family: Arial;
    position: relative;
}

.menu-shop-item {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.submenu {
    display: none;
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 150px;
    height: 190px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #CCCCCC;
}

.menu-item:hover .submenu {
	display: block;

}

.submenu-product{
    width:127px;
    padding:5px 10px;
    border:1px solid #aaa;
   	box-shadow: 0 0 7px #ccc, 0 10px 15px #ceceee inset;
    border-radius:2px;
}

.submenu-product-item {
	text-decoration: none;
	width:100px;
	color: black;
}

.register {
    display: inline;
    padding: 0 10px 0;
    font-family: Arial;
    bottom: 15em;
    left: 60em;
    position: relative;
}

.register-item {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 5px 5px 5px;

}

.shoping-title {
    display: block;
    width: 300px;
    height: 150px;
    position: relative;
    top: 120px;
    left: 20px;
}

.page-title {
    font-size: 25px;
}

.note-text-item {
    text-decoration: none;
    color: green;
    font-weight: bold;
}